/*
This is the default stylesheet.  DO NOT MAKE CHNAGES HERE!
To customize any of these styles, copy the rules you which to change
into a file called 'gigpress.css' in your current theme directory.
Any style changes make there will override styles in this document.
*/

/* By default this is an h3 that appears above each artist's list of shows */
h3.gigpress-artist-heading  {
}

/* This span contains the RSS and iCal links for the artist */
span.gigpress-artist-subscriptions {
	margin-left: 5px;
	float: right;
}

/* Default wrapper for the year/month menu */
.gigpress-menu-container {
	padding: 5px 0;
	text-align: right;
}

/* Meet the table that displays our shows */
.gigpress-table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #CCC;
	margin: 0.5em 0 1em 0;
}

/* This is for the main header cells containing the column labels */
tr.gigpress-header th {
	font-weight: bold;
}

/* Generic class for the table header cells */
.gigpress-table th {
	padding: 6px 8px;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid #CCC;
}

/* This is for the tour name header cells */
th.gigpress-heading {
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}

/* This is for the tour name headings, whichever one you're using */
th.gigpress-heading h1, th.gigpress-heading h2, th.gigpress-heading h3, th.gigpress-heading h4, th.gigpress-heading h5 {
	margin: 0;
}

/* Applies to all cells in the table */
.gigpress-table td {
	padding: 6px 8px;
	vertical-align: middle;
	text-align: left;
}

/* Applies to the first row of each show listing */
.gigpress-row td {
	border-bottom: 1px solid #EEE;
}

/* To set an alternating row style */
tr.gigpress-alt {
}

/* Individual classes for the label header cells that start the table */
th.gigpress-date {
}

th.gigpress-artist {
}

th.gigpress-city {
}

th.gigpress-venue {
}

th.gigpress-country {
}

/* Likewise, individual classes for the content cells */
td.gigpress-date {
}

td.gigpress-artist {
}

td.gigpress-city {
}

td.gigpress-venue {
}

td.gigpress-country {
}

/* Style for rows within a tour */
tr.gigpress-tour td {
	background-color: #F6F6F6;
}

/* Style for the first row after a tour ends in the list */
tr.gigpress-divider.gigpress-row td {
	border-top: 2px solid #CCC;
}

/* The secondary row for each show, contains time, admission, etc */
tr.gigpress-info td {
	font-size: 90%;
	color: #333;
	border-bottom: 1px solid #CCC;
}

/* Fix for themes that hide .description */
tr.gigpress-info td.description {
	visibility: visible !important;
}

/* Greys-out cancelled shows */
tr.gigpress-row.cancelled, tr.gigpress-info.cancelled, tr.cancelled span.gigpress-info-label, tr.cancelled span.gigpress-info-item {
	color: #999;
}

/* This wraps each of the bits of info in the "info" cell */
span.gigpress-info-item {
}

/* For the labels for address, admission, etc in the "info" cell */
span.gigpress-info-label {
	color: #666;
}

/* In case you want to style the "Buy Tickets" link */
a.gigpress-tickets-link {
	font-weight: bold;
	text-transform: uppercase;
}

/* Notices for Cancelled or Sold Out shows */
strong.gigpress-cancelled, strong.gigpress-soldout {
	text-transform: uppercase;
	font-weight: bold;
	padding: 1px;
	color: #111;
	background: #fffdeb;
	border: 1px solid #EEE;
	background: #111;
	color: #FFF;
	border: none;
}

/* In case you want to style the Googlefied address link */
a.gigpress-address {
}


/* These styles control the peek-a-boo "add" links to iCal and Google Calendar. Behaviour dictated by a separate jQuery script. */
td.gigpress-links-cell {
	vertical-align: top;
}

.gigpress-calendar-add {
	position: relative;
}

a.gigpress-links-toggle {
	display: block;
	text-indent: -9999px;
	width: 11px;
	height: 11px;
	background: transparent url(../images/calendar-toggle.png) no-repeat left top;
	cursor: pointer;
}

a.gigpress-links-toggle:hover {
	background-position: -11px 0px;
}

a.gigpress-link-active {
	background-position: -33px;
}

a.gigpress-link-active:hover {
	background-position: -22px;
}

div.gigpress-calendar-links {
	display: none;
	position: absolute;
	left: 20px;
	top: -1.2em;
	width: 15em;
	padding-left: 7px;
	background: transparent url(../images/calendar-links-bg.png) no-repeat left center;
}

.gigpress-calendar-links-inner {
	background-color: #F3F3F3;
	padding: 6px 8px;
	font-size: 11px;
	line-height: 16px;
	border: 1px solid #CCC;
	border-width: 1px 1px 1px 0;
}

div.gigpress-calendar-links span {
	display: block;
}

/* These are for the RSS/iCal subscribe links */
p.gigpress-subscribe {
	text-align: left;
	color: #999;
}

p.gigpress-subscribe a {
	display: inline-block;
	text-indent: -9999px;
	width: 12px;
	margin: 0 3px;
}

a.gigpress-rss, a.gigpress-rss:hover {
	background: transparent url(../images/feed-icon-12x12.png) no-repeat left center;
}

a.gigpress-ical, a.gigpress-ical:hover {
	background: transparent url(../images/icalendar-icon.gif) no-repeat left center;
}


/* These styles are for the sidebar listing */

/* This is the unordered list that holds the dates */
ul.gigpress-listing {
}

/* Generic styles for the list items within */
.gigpress-listing li {
}

/* For artist headings in the sidebar */
h3.gigpress-list-artist-heading {
}

/* For tour headings in the sidebar */
span.gigpress-list-tour-heading {
	font-weight: bold;
	font-size: 110%;
}

/* So if you like you can style each alternating list item differently */
li.gigpress-alt {
}

/* So if you like you can style the date differently */
span.gigpress-sidebar-date {
	font-weight: bold;
	display: block;
}

/* Sold Out shows in the sidebar */
ul.gigpress-listing strong.gigpress-soldout, ul.gigpress-listing a.gigpress-tickets-link {
	display: block;
}


/* These styles control the Related Show list that appears in the body of Related Posts */
ul.gigpress-related-show {
	margin: 0 0 2em;
}

ul.gigpress-related-show ul, ul.gigpress-related-show li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.gigpress-related-label {
	font-weight: bold;
}

.gigpress-related-item {
}


/* This is just to include data for hcalendar support, but hide it from view */
.hide {
	display: none;
}

/* Stop Firefox from underlining our abbreviated dates */
abbr {
	border: none;
	text-decoration: none;
	font-size: 100%;
}
